.container
  %section
    .inner-container
      %h1 TRY LOOMIO

      .row-fluid
        =link_to new_group_request_path, class: 'span7 btn btn-teal btn-try-it' do
          .fa.fa-plus.fa-try-it
          .button-text Start a group
      .row-fluid
        %p Start a group to make decisions in your own community

      .row-fluid
        =link_to '', class: 'span7 btn btn-blue btn-try-it' do
          Join the Loomio Community group
      .row-fluid
        %p This is where we discuss and make decisions about Loomio

      .row-fluid
        =link_to '', class: 'span7 btn btn-purple btn-try-it' do
          .fa.fa-search.fa-try-it
          .button-text Explore other groups on Loomio
      .row-fluid
        %p Check out all the awesome groups on Loomio and join in!